.example-form {
  min-width: 550px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


#formElements {
  width: 30%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  color: rgb(223, 77, 77); 
}