h1 {
  color : black;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

body{
  // background-image:url("https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-image: url("https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width :cover;
  margin-bottom: 50px;
  border-radius: 5px;
  border-color: black;
  text-align: center;
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

button{
  color: white;
  font-size: large;
  text-align: center;
  margin: auto;
  display: block;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  width: 500px;
  border-radius: 10px;
  align-self:auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: purple;
}


// app-head {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0;
// }

// button {
//   cursor: pointer;
//   border: 0;
//   border-radius: 4px;
//   font-weight: 600;
//   margin: 5px;
//   width: 250px;
//   height: 50px;
//   padding: 10px 0;
//   box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
//   transition: 0.4s;
// }

// .signup {
//   color: white;
//   background-color: #251ee9ed;
// }

.login {
  margin-top: 250px;
}

// button:hover {
//   color: white;
//   width: 0 10px;
//   box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
//   background-color: rgba(104, 85, 224, 1);
// }

// .contain {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin: 0;
// }

// .main {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 80vh;
//   margin: 0;
// }