.example-full-width {
  width: 100%;
  width: 550px;
}

.example-full-width{
  background-color:transparent;
  width : auto;
  text-align: center;
  margin: auto;
  display: block;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font: 300;
}
