.bod{
    font-family: 'Times New Roman', Times, serif; 
    padding: 10px;
   margin-top: 10px;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 10px;
   align-self:auto;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   align-items: center;
   background-color: transparent;
   color:black;
}

// .mat-toolbar-row{
// background-color: aquamarine;
// }
button{
   margin-top: 25px;
   color:black;

}

.ab{
   margin-top: 25px;
   color:white;
   background-color: darkblue;
}
.full-width{
   width: 100%;
   width: 520px;
   text-align: center;
}
h1{
   font-family: 'Times New Roman', Times, serif;
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 40px;
   font-family: 'Times New Roman', Times, serif;
   font-style:normal ;
   font-size: large;
   color:black;
   text-align: center;
   font-size: 45px;
   font-display: bold;
}


h3{
   font-family: 'Times New Roman', Times, serif;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   font-family: 'Times New Roman', Times, serif;
   font-style:normal ;
   font-size: large;
   color:black;
   text-align: center;
   font-size: 40px;
//    font-family: 'Times New Roman', Times, serif; 
//    padding: 10px;
//   margin-top: 10px;
//   font-family: 'Times New Roman', Times, serif;
//   width: 500px;
//   border-radius: 10px;
//   align-self:auto;
//   margin-top: 50px;
//   justify-content: center;
//   align-items: center;
//   align-items: center;
//   background-color: transparent;
//   text-align: center;
}

body{
   background-image: url("https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&w=600");
   background-size: cover;
     background-repeat: no-repeat;
     padding: 5px;
     width :cover;
     background-color: white;
     margin-bottom: 50px;
     border-radius: 10px;
  align-self:auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
 }