<div>
  <div>
    <h3 class="card-title-center">{{data.title}}</h3><br><br>
    <form>
      <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Enter Your Email Here">
      <hr>
    </form>
    <form #form="ngForm" (ngSubmit)="saveForm(form)" novalidate>

      <div class="field" *ngFor="let que of data.questions; let i=index" [ngSwitch]="que.answerType">
        <div>
          <h3> {{que.questionContent}}</h3>
        </div>

        <div *ngSwitchCase="'Short Answer'">
          <textarea ngModel name={{i}} cols="40%" placeholder="write your answer here"></textarea>
          <br>
        </div>

        <div *ngSwitchCase="'Number'">
          <input type="number" ngModel name={{i}}>
          <hr>
        </div>
        <hr>

        <div *ngSwitchCase="'Single Correct'">
          <div *ngFor="let item of que.options">
            <input type="radio" name={{i}} value={{item}} ngModel> &nbsp; {{item}}
          </div><br>
        </div>
        <hr>
      </div>


      <br>
      <input type="checkbox" name="decleration" id="decleration" checked> Send Response Copy to Me <br>
      <button type="submit" class="btn btn-primary"> Final Submit </button>
    </form>

  </div>
</div>


































<!-- <div *ngFor="let item of this.data.response; let i = index">
  <ng-container [ngSwitch]="item.type">

    <div *ngSwitchCase="'Title'">
      <div class="type">{{item.type}}</div>
      <h1>{{item.data.formTitle}}</h1>
      <hr>
    </div>

    <div *ngSwitchCase="'Short Answer'">
      <div class="type">{{item.type}}</div>
      <h1>{{item.data.question}}</h1>
      <input type="text" [name]="'Short Answer-' + item.data.question">
      <hr>
    </div>

    <div *ngSwitchCase="'Number'">
      <div class="type">{{item.type}}</div>
      <h1>{{item.data.question}}</h1>
      <input type="text" [name]="'Number-' + item.data.question">
      <hr>
    </div>

    <div *ngSwitchCase="'Email'">
      <div class="type">{{item.type}}</div>
      <h1>{{item.data.question}}</h1>
      <input type="text" [name]="'Email-' + item.data.question">
      <hr>
    </div>

    <input *ngSwitchDefault type="text">
  </ng-container>
</div>

<button (click)="saveForm()">saveForm</button>

 <button (click)="onSubmit(i, shortAnswerInput.value)">Submit</button> -->