.card{
    width: 70%;
    margin: auto;
    background-color:black;
    border: 2px solid rgb(198, 17, 17);
    border-radius: 50px;
}
.parent{
    background-color: rgba(184, 178, 150, 0.647);
}
body{
    background-color: red;
}

h3{
    color:white;
}

body{
    background-color: lightsteelblue;
    background-image: url("https://images.pexels.com/photos/7078283/pexels-photo-7078283.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    width :cover;
    margin-bottom: 50px;
}